@import "~bootstrap/scss/bootstrap";
@import "assets/styles/_card.scss";

.add-button {
    font-size: 1.5em;
    color: rgb(173, 181, 189);
    cursor: pointer;
}

.off {
    display: none;
}

.on {
    display: block;
}

.modal-dialog {
    max-width: 80%;
}