{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Médiathèque</h1>
        <h2>Films</h2>
        <div class="row">
            <div class="col-12">
                <form action="{{ path('search_movie') }}" method="get">
                    <div class="form-search">
                        <label for="name">Ajouter un film : </label>
                        <input type="text" name="search" id="search" required>
                    </div>
                    <div class="form-search">
                        <input type="submit" value="We go">
                    </div>
                </form>
                <div class="d-flex flex-row">
                    {% for movie in movies %}
                        <div class="card mr-3" style="width: 18rem;">
                            <img class="card-img-top" src="{{ movie.poster }}">
                            <div class="card-body">
                                <h5 class="card-title d-flex justify-content-center">{{ movie.title }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}